<%- include("../partials/header.ejs") %>

<div class="container-fluid">
<h1 class="my-2"><%= article.title %></h1>
<div class="text-muted my-2"><%= article.createdAt.toLocaleDateString() %></div>
</div>
<a href="/" class="btn btn-secondary">All Articles<Article></Article></a>
<a href="/articles/edit<%= article.id %>" class="btn btn-info my-2">Edit</a>

<div>
    <%= article.markdown %>
</div>


<%- include("../partials/footer.ejs") %>